/* Base */
* {
    transition: 0.3s cubic-bezier(0.4, 0.1, 0.4, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0.1, 0.4, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0.1, 0.4, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0.1, 0.4, 1);
    -o-transition: 0.3s cubic-bezier(0.4, 0.1, 0.4, 1);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    --primary-color: rgba(165, 61, 255, 1);
    --hover-color: rgb(136, 0, 255);
    font-family: "Work Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--primary-color);
}
/* Nav */
nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 90px;
    z-index: 1000;
    width: 70%;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 11px 0;
    border-radius: 500px;
    background-color: white;
}
.nav-links {
    outline: 10px;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
}
li :hover {
    border-bottom: 4px solid var(--primary-color);
}
.brand {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.brand-icon {
    padding: 7px 15px;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
}
ul button {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
    padding: 6px 17px;
    border-radius: 4px;
}
ul button:hover {
    background-color: var(--hover-color);
}
.langAndmode {
    display: flex;
    color: var(--primary-color);
    column-gap: 10px;
    align-items: center;
}
/* Header */
.header-text-btn button {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
    padding: 8px 17px;
    border-radius: 4px;
}
.header-text-btn button:hover {
    background-color: var(--hover-color);
}
header {
    height: 100vh;
    display: flex;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 103px;
}
.header-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 40px;
}
.header-text-calcs {
    display: flex;
    margin-top: 40px;
    column-gap: 4px;
}
.calcs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237, 216, 255, 0.5);
    padding: 15px 35px;
}
/* About */
.about-section {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    height: 80vh;
    position: relative;
    top: 120px;
}
.social-links {
    background-color: white;
    position: relative;
    bottom: 16px;
    left: 50px;
    width: 55%;
    display: flex;
    padding: 9px;
    justify-content: space-around;
    border-radius: 4px;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 121px;
    width: 70%;
    padding: 50px 40px;
    border-radius: 6px;
    background-color: white;
    height: 70vh;
}
.about-part2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
/* Process */
.process-section {
    background-color: rgb(230, 230, 230);
    padding-top: 40vh;
    padding-bottom: 13vh;
}
.process-container {
    display: flex;
    justify-content: center;
    column-gap: 87px;
    background-color: rgb(230, 230, 230);
}
.process-title {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.process-shapes {
    width: 35%;
    display: flex;
    gap: 20px;
}
.shapes-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.shapes-part1 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    bottom: 20px;
}
.shapes-part2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.item-icon {
    background-color: rgba(237, 216, 255, 0.5);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
/* projects */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.project {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(230, 232, 235, 1);
    border-radius: 10px;
    padding: 20px;
}
.project-content {
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
    padding: 20px;
}
.buttons {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}
.project button {
    width: 45%;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    color: var(--primary-color);
}
.project button:hover{
    background-color: var(--primary-color);
    color: white;
}
/* hint */
.hint-section{
    background-color: rgba(19, 34, 56, 1);
    padding: 80px 0 80px 0;
}
.hint-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hint-container button{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 3px;
    width: fit-content;
    margin-top: 50px;
}